.monthView {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.monthViewWithTransition {
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    height: 470px;
}

.week {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border-bottom: 1px solid rgb(205, 205, 205);
}

.week:first-child {
    border-top: 1px solid rgb(205, 205, 205);;
}
