.monthView {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.monthViewWithTransition {
    position: relative;
    overflow-x: hidden;
    height: 768px;
}

.monthView:first-child {
    left: -768px;
    z-index: 2;
}
.monthView:nth-child(2) {
    left: 0;
    z-index: 2;
}
.monthView:nth-child(3) {
    left: 768px;
    z-index: 2;
}

.week {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border-bottom: 1px solid rgb(205, 205, 205);
}

.week:first-child {
    border-top: 1px solid rgb(205, 205, 205);;
}
